<nav class="toolbar">
  <div class="left-section">
    <div class="logo" ><a (click)="navigateToadinadin()">🧩 AdminCMS</a></div>
    <ul class="menu">
      <li class="dropdown">
        <span (click)="navigateTohomehome()">🏠 Trang chủ</span>
      </li>
      <li class="dropdown">
        <span >Sản phẩm ▾</span>
        <ul class="dropdown-content">
          <li (click)="navigateTo('product')">Danh sách</li>
          <li (click)="navigateTo('add-product')">Thêm mới</li>
        </ul>
      </li>
      <li class="dropdown">
        <span>Tài khoản ▾</span>
        <ul class="dropdown-content">
          <li (click)="navigateTo('account')">Quản lý</li>
        </ul>
      </li>
      <li class="dropdown">
        <span>Đơn hàng ▾</span>
        <ul class="dropdown-content">
          <li (click)="navigateTo('donhang')">Danh sách</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="right-section">
    <button class="create-btn" (click)="navigateTo('create')">➕ Tạo mới</button>
    <div class="dropdown user-dropdown">
      <span>{{ username }} ▾</span>
      <ul class="dropdown-content">
        <li (click)="navigateTo('profile')">Thông tin</li>
        <li (click)="logout()">Đăng xuất</li>
      </ul>
    </div>
  </div>
</nav>
