<div class="form-container">
    <h1>TẠO TÀI KHOẢN</h1>
    <form (ngSubmit)="register()" #form="ngForm">
      <div class="form-group">
        <label for="username">Tên đăng nhập*</label>
        <input id="username" [(ngModel)]="username" name="username" type="text" required class="form-control">
      </div>
      <div class="form-group">
        <label for="fullName">Tên Đầy đủ</label>
        <input id="fullName" [(ngModel)]="fullName" name="fullName" type="text" required class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu*</label>
        <input id="password" [(ngModel)]="password" name="password" type="password" required class="form-control">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Xác nhận mật khẩu*</label>
        <input id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email*</label>
        <input id="email" [(ngModel)]="email" name="email" type="email" required class="form-control">
      </div>
      <div class="form-footer">
        <button type="button" class="button" (click)="goBack()">Quay lại</button>
        <p class="note">Những trường * là trường bắt buộc</p>
        <button type="submit" class="button" (click)="register()">Đăng ký</button>
      
      </div>
    </form>
  </div>
  