.breadcrumb-container {
    padding: 10px;
    font-size: 13px;
    margin-left:80px;
    margin-right: 80px;
    margin-top: -20px;
  }
  
  .breadcrumb-container a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
  }
  
  .breadcrumb-container span {
    color: black;
  }

  .b{
    border-bottom: 2px solid black;
    margin-top: -5px;
    margin-bottom: 10px;
  }