<div class="container">
  <div class="sidebar">
    <div class="box">Size</div>
    <div class="filter-group">
      <div class="button-size">
      <button (click)="setFilter('31')">31</button>
      <button (click)="setFilter('32')">32</button>
      <button (click)="setFilter('33')">33</button>
      <button (click)="setFilter('34')">34</button>
      <button (click)="setFilter('35')">35</button>
      <button (click)="setFilter('36')">36</button>
      <button (click)="setFilter('37')">37</button> 
      <button (click)="setFilter('38')">38</button>
      <button (click)="setFilter('39')">39</button>
      <button (click)="setFilter('40')">40</button>
      <button (click)="setFilter('41')">41</button>
      <button (click)="setFilter('42')">42</button>
      <button (click)="setFilter('43')">43</button>
      </div>
    </div>

    <div class="box">Thương hiệu</div>
    <div class="filter-group">
      <button (click)="setFilter2('Nike')">Nike</button>
      <button (click)="setFilter2('Adidas')">Adidas</button>
      <button (click)="setFilter2('Adidas')">Winbro</button>
    </div>

    <div class="box">Loại hàng</div>
    <div class="filter-group">
      <button (click)="setFilter3('Giầy')">Giầy</button>
      <button (click)="setFilter3('Balo')">Balo</button>
      <button (click)="setFilter3('Găng tay')">Găng tay</button>
      <button (click)="setFilter3('Bóng')">Bóng</button>
    </div>

    <div class="box">Giá</div>
    <div class="filter-group">      
      <div class="button-grid">
        <input type="number" [(ngModel)]="filter.minPrice" (input)="applyFilters()" placeholder="Giá từ" step="100000">
        <input type="number" [(ngModel)]="filter.maxPrice" (input)="applyFilters()" placeholder="Giá đến" step="100000">
      </div>
    </div>

    <div class="box">Màu sắc</div>
    <div class="filter-group">
      <div class="color-grid">
        <div style="background: red;" class="color-box" (click)="setFilter1('Đỏ')"></div>
        <div style="background: blue;" class="color-box"(click)="setFilter1('Xanh dương')"></div>
        <div style="background: yellow;" class="color-box"(click)="setFilter1('Vàng')"></div>
        <div style="background: cyan;" class="color-box"(click)="setFilter1('Xanh da trời')"></div>
        <div style="background: black;" class="color-box"(click)="setFilter1('Đen')"></div>
        <div style="background: gray;" class="color-box"(click)="setFilter1('Xám')"></div>
        <div style="background: linear-gradient(to right, #36D1DC, #5B86E5);" class="color-box"(click)="setFilter1('31')"></div>
        <div style="background: linear-gradient(to right, #ff6a00, #ee0979);" class="color-box"(click)="setFilter1('31')"></div>
        <div style="background: linear-gradient(to right, #a1c4fd, #c2e9fb);" class="color-box"(click)="setFilter1('31')"></div>
        <div style="background: #ccff66;" class="color-box"(click)="setFilter1('31')"></div>
        <div style="background: #00bcd4;" class="color-box"(click)="setFilter1('31')"></div>
        <div style="background: #ffe259;" class="color-box"(click)="setFilter1('31')"></div>
      </div>
    </div>
    <button (click)="resetFilter()">clear filter</button>
  </div>
  <div class="product-section">
    <!-- Dropdown sort -->
    <div class="sort-dropdown">
      <label for="sort">Thứ tự</label>
      <select [(ngModel)]="selectedSort" (change)="applyFilters()">
        <option value="price_asc">Giá tăng dần</option>
        <option value="price_desc">Giá giảm dần</option>
        <option value="name">Tên A-Z</option>
      </select>
    </div>

    <!-- Danh sách sản phẩm -->
    <div class="product-grid">
      <div *ngFor="let p of filteredProducts" class="product-card">
        <!-- Thêm liên kết đến trang chi tiết sản phẩm -->
        <a (click)="selectProduct(p.maSanPham)" [routerLink]="['/product']">
          <img *ngIf="p.hinhAnh" [src]="apiUrl+'/api/upload/' + p.hinhAnh" width="100" alt="Hình ảnh">
          <h4>Hàng có sẵn</h4>
          <div class="price">{{ p.gia }}đ</div>
          <p>{{ p.tenSanPham }}</p>
        </a>
      </div>
    </div>
</div>

