<div class="menu-container">
    <!-- Icon menu -->
    <div class="menu-icon" (click)="toggleMenu()">
      &#9776; <!-- Ký hiệu Unicode cho hamburger menu -->
    </div>
  
    <!-- Menu trượt ra -->
    <div class="side-menu" [class.open]="menuOpen">
      <ul>
        <li (click)="navigateTohomehome()">🏠 Trang chủ</li>
        <li (click)="navigateTopo()">📦 Sản phẩm</li>
        <li (click)="closeMenu()">👤 Tài khoản</li>
        <li (click)="navigateToadinadin()">👤 Admin</li>
        <li (click)="goToGuide()">📖 Hướng dẫn mua hàng</li>

    
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <li (click)="closeMenu()"> 🔚 Thoát</li>
      </ul>
    </div>
  
    <!-- Lớp nền che khi menu mở -->
    <div class="overlay" *ngIf="menuOpen" (click)="closeMenu()"></div>
  </div>
  