.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  
  .logo h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 32px;
    margin: 0;
    font-size: 500%;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 20px;
    margin-bottom: 10px;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
  }
  
  .search-bar i {
    margin-left: 10px;
    color: #555;
    cursor: pointer;
  }
  
  .auth-cart {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .auth-link {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .auth-link:hover {
    color: #c47814;
  }
  
  .cart-icon {
    background-color: red;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cart-icon:hover {
    background-color: darkred;
  }
  .corner-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px; 
    height: auto;
  } 



/* --------------------------------------------------- */
.navbar {
    background-color: orange;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    border-radius: 8px;
  }
  
  .menu-item {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px 30px;
    margin: -1px;
    transition: background-color 0.1s ease;
    display: inline-block;
    margin-top: -20px;
    margin-bottom: -20px;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background-color: #000;
    color: #fff;
  }

  .menu-item:hover a{
    color: #fff;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 14px;
    background-color: #222;
    padding: 10px;
    min-width: 430px;
    column-count: 4; 
    column-gap: 0px;
    z-index: 9999; 
    font-weight: 100;
    text-align: left;
    cursor: pointer;
  }
  
  .menu-item:hover .submenu {
    display: block;
  }
  
  .submenu li {
    break-inside: avoid; /* Tránh gãy giữa dòng */
  }
  
  .submenu li a {
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
  }
  
  .submenu li a:hover {
    color: #FFD366;
    margin-left: 15px;
    transition: margin-left 1.3s ease;
    cursor: pointer;
  }
  /* ------------------------------------- */
  footer {
    background: linear-gradient(to right, #FFD366, #FF914D);
    padding: 20px;
    color: black;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .about, .info, .contact {
    flex: 1;
    padding: 10px;
  }
  
  h3 {
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  .logo1 {
    width: 120px;
    height: 120px;
    background-color: #FF8C5A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0;
  }
  
  .social-icons a img {
    width: 40px;
    margin: 5px;
  }
  
  ul {
    list-style: none;
  }
  
  ul li a {
    text-decoration: none;
    color: black;
    display: block;
    margin: 5px 0;
  }
  
  .contact p {
    margin: 5px 0;
  }
  