<header class="header">
    <div class="logo">
        <h1>F**K</h1>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search...">
        <i class="fas fa-search"></i>
        <i class="fas fa-microphone"></i>
      </div>
      <div class="auth-cart">
        <ng-container *ngIf="!loginstatus; else loggedIn">
          <a href="javascript:void(0)" (click)="goTolog()" class="auth-link">Đăng nhập</a> /
          <a (click)="goToreg()" class="auth-link">Đăng ký</a>
        </ng-container>
        
        <ng-template #loggedIn>
          <span class="auth-link">Xin chào, {{ username }}</span>
        </ng-template>
        <div class="cart-icon" (click)="navigateTocart()">
          <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    <div>
      
      <img src="assets/anh/iconbong3.jpg" alt="Soccer Ball" class="corner-image">
    </div>
  </header>


<!-- -------------------------------------------------------------------------------------- -->



<ul class="navbar">
  <li *ngFor="let menu of menus" class="menu-item" (click)="toggleMenu(menu)">
    {{ menu.title }} 
    <span class="arrow" [ngClass]="{'active': menu.active}"></span>
    <ul class="submenu" *ngIf="menu.active">
      <li *ngFor="let sub of menu.submenus">
        <a href="#">{{ sub }}</a>
      </li>
    </ul>
  </li>
</ul>

<app-tab-navigation></app-tab-navigation> 
<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- --------------- -->
<footer>
    <div class="footer-container">
        <!-- Về chúng tôi -->
        <div class="about">
            <h3>Về chúng tôi</h3>
            <div class="logo1"></div>
            <div class="social-icons">
                <a href="#"><img src="assets/anh/Facebook-icon-1.png" alt="Facebook"></a>
                <a href="#"><img src="../assets/anh/ins.jpg" alt="Instagram"></a>
                <a href="#"><img src="../assets/anh/yt.png" alt="YouTube"></a>
            </div>
        </div>
  
        <!-- Thông tin -->
        <div class="info">
            <h3>Thông tin</h3>
            <ul>
                <li><a href="#">Chính sách thanh toán</a></li>
                <li><a href="#">Chính sách đổi trả</a></li>
                <li><a href="#">Chính sách bảo hành</a></li>
                <li><a href="#">Chính sách giao nhận</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
            </ul>
        </div>
  
        <!-- Liên hệ -->
        <div class="contact">
            <h3>Liên hệ</h3>
            <p><span>📍</span> 180 Hoàng Quốc Việt, Cổ Nhuế, Bắc Từ Liêm, Hà Nội</p>
            <p><span>📞</span> 06375486654</p>
            <p>Zalo: 06375486654</p>
        </div>
    </div>
  </footer>