<body>
  <div class="form-container">
      <h1>TẠO TÀI KHOẢN</h1>
      <form id="registrationForm">
          <div class="form-group">
              <label for="firstName">Tên đăng nhập*</label>
              <input id="fisrtname" [(ngModel)]="username" name="fis" type="email" required class="form-control">
          </div>
          <div class="form-group">
              <label for="lastName">Họ*</label>
              <input type="text" id="lastName" required />
          </div>
          <div class="form-group">
              <label for="password">Mật khẩu*</label>
              <input type="password" id="password" required />
          </div>
          <div class="form-group">
              <label for="email">Email*</label>
              <input type="email" id="email" required />
          </div>
          <div class="form-footer">
              <button type="button" class="button"  id="backButton">Quay lại</button>
              <button type="submit" class="button" (click)="register()">Đăng ký</button>
          </div>
          <p class="note">Những trường * là trường bắt buộc</p>
      </form>
  </div>
  <script src="script.ts"></script>
</body>