<form (ngSubmit)="register()">
  <div>
    <label for="username">Họ<span *ngIf="isInvalidUsername" class="error">*</span></label>
    <input type="text" id="username" [(ngModel)]="username" name="username" />
    
  </div>

  <div>
    <label for="fullName">Tên<span *ngIf="isInvalidFullName" class="error">*</span></label>
    <input type="text" id="fullName" [(ngModel)]="fullName" name="fullName" />
  </div>

  <div>
    <label for="city">Thành phố <span *ngIf="isInvalidCity" class="error">*</span></label>
    <input type="text" id="city" [(ngModel)]="city" name="city" />
  </div>

  <div>
    <label for="address">Địa chỉ<span *ngIf="isInvalidAddress" class="error">*</span></label>
    <input type="text" id="address" [(ngModel)]="address" name="address" />
  </div>

  <div>
    <label for="phone">Số điện thoại<span *ngIf="isInvalidPhone" class="error">*</span></label>
    <input type="tel" id="phone" [(ngModel)]="phone" name="phone" />
  </div>

  <button type="submit" class="btn update">Cập nhật</button>
</form>
