/* Căn chỉnh toàn bộ form */
form {
    background: linear-gradient(to bottom, #ffcc00, #ff9900);
    padding: 40px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Kiểu chữ cho tiêu đề */
h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Kiểu cho các nhãn label */
label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

/* Kiểu cho input */
input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Kiểu cho nút button */
.btn {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

/* Hiệu ứng hover cho button */
.btn:hover {
    background-color: #ff3300;
}

/* Kiểu cho các thông báo lỗi */
.error {
    color: red;
    font-size: 12px;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size:16px;
    
}
