.cart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .cart-title {
    font-size: 36px;
    font-weight: bold;
  }
  
  .cart-summary {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 90%;
  }
  
  .summary-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .total {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .total-amount {
    color: red;
    font-weight: bold;
  }
  
  .confirm-button {
    background-color: #f0ad4e;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .confirm-button:hover {
    background-color: #ec971f;
  }
  .divider {
    height: 2px;
    border-bottom: 2px solid #ccc;
    margin: 8px 0 16px 0;
    width: 100%;
  }
  /* /--------------------------------------------------- */

  /* .popup-list {
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 10px;
    z-index: 1000;
    top: 50px; 
    left: 20px;
  } */

  .popup-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 0;
    margin-top: 16px;
    list-style: none;
  }
  
  .invoice-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
  }
  
  .invoice-item:hover {
    transform: translateY(-2px);
    background-color: #f0f8ff;
  }
  
  .invoice-item div {
    margin: 4px 0;
  }
  
  .status-pending {
    color: orange;
    font-weight: 600;
  }
  
  .status-success {
    color: green;
    font-weight: 600;
  }
  
  .status-cancelled {
    color: red;
    font-weight: 600;
  }


  .cart-container {

    margin: 0 auto;
    padding: 20px;
  }
  
  
  .cart-item {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    align-items: left;
  }
  
  .cart-item-img img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .cart-item-info {
    flex: 1;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .product-price,
  .product-quantity,
  .product-total {
    margin: 5px 0;
    color: #333;
  }
  
  .action-buttons {
    margin-top: 10px;
  }
  
  .btn-delete {
    background: #f44336;
    border: none;
    color: white;
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-info {
    background: #2196f3;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-delete:hover,
  .btn-info:hover {
    opacity: 0.9;
  }
  
