<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        .carousel-item img {
            width: 100%;
            height: auto;
        }
        .carousel-caption {
            text-align: left;
        }
    </style>
</head>
<body>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/anh/bong1.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item active">
                <img src="assets/anh/bong2.jpg" class="d-block w-100" >
            </div>
            <div class="carousel-item">
                <img src="assets/anh/bong3.jpg" class="d-block w-100" >
            </div>
            <div class="carousel-item">
                <img src="assets/anh/bong4.jpg" class="d-block w-100" >
            </div>
        </div>
    </div>
    <div class="icon-container">
      <div class="icon">
          <i class="material-icons">sell</i>
          <p>Đổi size thoải mái</p>
      </div>
      <div class="divider"></div>
      <div class="icon">
        <i class="material-icons">local_shipping</i>
        <p>Giao hàng toàn quốc</p>
    </div>
      <div class="divider"></div>
      <div class="icon">
        <i class="material-icons">credit_card</i>
        <p>Thanh toán linh hoạt</p>
    </div>
  </div>
</body>
</html>