.slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;

}

.image-container {
  width: 100%; 
  height: 50%; 
  overflow: hidden;
  align-items: center;

}
.slide{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 750px; 
  background-color: #000; 
  width: 500px;
}
.carousel {
  width: 100%;
  
}

.slide img {  
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.responsive-image {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  object-position: center; 
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  background-color: #fff;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-right: 80px;
}

.info-box {
 display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.info-box:last-child {
  border-right: none;
}

.info-box:hover .info-icon {
  filter: brightness(0) saturate(100%) invert(44%) sepia(99%) saturate(1569%) hue-rotate(8deg) brightness(103%) contrast(102%);
}
.info-box:hover .info-title,
.info-box:hover .info-description {
  color: orange;
}

.info-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: contain;
  transition: filter 0.3s ease;
}

.info-text {
  display: flex;
  flex-direction: column;
}

.info-title {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

.info-description {
  font-size: 13px;
  color: #666;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.about-image {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
